* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none
}
.board-main {
    overflow:auto;
    height:400px;
    width: 100%;
}
.board-select{
    height:50px;
    width:100%;
    text-align:center;
}
.board {
    width: 100%;
    overflow: auto;
    justify-content: center;
    background-color: transparent;
    position: relative;
}

.sup-sup {
    padding:5px;
    height:auto;
    color:black;
    display: flex;
    width: 100%;
    cursor:pointer;
}

    .sup-sup li {
        font-size: larger;
        height:20px;
        border: none;
        position: relative;
    }
    .text-hidden{
        width:100%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
        .background-board, .background-calendar {
            display: none;
            align-items: center;
            justify-content: center;
            width: 100vw;
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            top: 0;
        }
.calendar {
    position: relative;
    height: 600px;
    width: 100%;
}

